/* 文章里面的警告框 */
.post_warn {
	border-radius: 10px;
	background-color: #e43737;
	padding: 20px;
	color: white;
}

.post_attention {
	border-radius: 10px;
	background-color: #ffbb00;
	padding: 20px;
	color: white;
}

#main {
	font-family: "Hannotate SC", "Helvetica Neue";
}