<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1927408f733bc1f82c711c8aece7a832' type='text/javascript'%3E%3C/script%3E"));

    var highlight_lines = document.getElementsByClassName("highlight_line");
    for (var i = 0; i < highlight_lines.length; i++) {
        highlight_lines[i].style.paddingRight = "2000px";
        // highlight_lines[i].style.width = "100%";
        highlight_lines[i].style.backgroundColor = "rgba(80,80,80,0.5)";
    }
</script>
<!-- mathjax config similar to math.stackexchange -->
<!--
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                       jax: ["input/TeX", "output/HTML-CSS"],
                       tex2jax: {
                       inlineMath: [ ['$', '$'] ],
                       displayMath: [ ['$$', '$$']],
                       processEscapes: true,
                       skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
                       },
                       messageStyle: "none",
                       "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
                       });
    </script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
-->